body {
    display: flex;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #d6d6d6; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
} 

.login-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.login-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.login-container h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

.login-container label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    font-weight: bold;
    color: #666;
}

.login-container input {
    width: 100%;
    padding: 12px 12px 12px 40px; /* Add padding to make room for icons */
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 25px;
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCIgdmlld0JveD0iMCAwIDE4IDE4Ij4KPHBhdGggZD0iTTE2IDRjMCAuNi0uNCAxLjEtMSAxLjVMNSA5LjcgMCA5bDEtN2guNWMuNiAwIDEuMS0uNCAxLjUtMSAwLTEuNiAxLjQtMi43IDIuOC0yLjhMMTcgNHptLTMgMTV2LTRINXZ0NGgtMmE0IDQgMCAwIDAgMCA4aDE2YTYgNiAwIDAgMCAwLTEyeiIgZmlsbD0iIzZkNmQ2ZCIvPjwvc3ZnPg==') 10px center no-repeat;
}

.login-container input[type="password"] {
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCIgdmlld0JveD0iMCAwIDE4IDE4Ij4KPHBhdGggZD0iTTE2IDE0djZoLTFjMC0xLjctMS4zLTMtMy0zLTEuNyAwLTMgMS4zLTMgM0g2YzAtMS43LTEuMy0zLTMtM3MtMyAxLjMtMyAzSDNjMC0xLjcgMS4zLTMgMy0zdi02YTQgNCAwIDAgMSA0LTRjMS4xIDAgMi4xLjUgMi43IDEuM1YxYTYgNiAwIDAgMCAzIDBWMTJhNiA2IDAgMCAxLTYgNnYtNnptLTMgNHYzSDZ2LTNoNHoiIGZpbGw9IiM2ZDZkNmQiLz48L3N2Zz4=') 10px center no-repeat;
}

.login-container button {
    width: 100%;
    padding: 12px;
    background-color: #2A66B1;
    color: #fff;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.login-container button:hover {
    background-color: #396fb1;
    transform: translateY(-2px);
}

.login-container button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(4, 46, 119, 0.4);
}

.login-container input:focus {
    border-color: #140268;
    box-shadow: 0 0 5px rgba(2, 10, 131, 0.2);
    outline: none;
}

.login-container a {
    display: block;
    margin-top: 10px;
    color: #2A66B1;
    text-decoration: none;
    transition: color 0.3s ease;
}

.login-container a:hover {
    color: #396fb1;
}
