body {
    display: flex;
    font-family: Arial, sans-serif;
    background-color: #ebebeb;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    overflow: auto;
}

.form-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 500px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.form-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

h2 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
    width: 100%;
    padding: 12px 12px 12px 40px; /* Add padding to make room for icons */
    box-sizing: border-box;
    border: 1px solid #a8a8a8;
    border-radius: 25px;
    font-size: 16px;
    color: #333;
    outline: none;
    background-color: #f9f9f9;
    background-position: 10px center;
    background-repeat: no-repeat;
}



button {
    width: 100%;
    padding: 12px;
    background-color: #216cb8;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #1e4469;
    transform: translateY(-2px);
}

.password-container {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 15px;
    display: none;
}

input:focus {
    border-color: #a5a5a5;
    box-shadow: 0 0 5px rgb(141, 141, 141);
    outline: none;
}
