.box-container {
    
  margin: 0 auto;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
  color: #a7a7a7;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 50px;
}

.box {
  width: 200px;
  height: 100px;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  color: white;
}

.gray-box {
  background-color: #D3D3D3;
}

.blue-box {
  background-color: #2A66B1;
  border: none;
}

#consult-icon-text {
  text-align: center;
  font-size: 20px;
  color: #2A66B1;
  border: none;
}

#consult-icon-text img {
  width: 50px;
  height: 50px;
}