body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 1200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
}

h1 {
    text-align: center;
    color: #0056b3;
    margin-bottom: 20px;
    font-size: 3em;
    font-family:Arial, Helvetica, sans-serif;
}

.info-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.info {
    background-color: #007bff;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
}

.info:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.info h2 {
    color: #fff;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.info p {
    font-size: 2.5em;
    font-weight: bold;
    margin: 0;
    color: #fff;
}

#historico-qualidade {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#historico-qualidade li {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    margin: 5px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#historico-qualidade li:nth-child(even) {
    background-color: #ffffff;
}

#historico-qualidade li span {
    font-weight: bold;
}
