@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');



.container2 {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    padding: 40px 30px;
    width: 100%;
    max-width: 500px;
    text-align: center;
}

header {
    margin-bottom: 30px;
}

h1 {
    color: #1e90ff;
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 1px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    color: #333;
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
    font-size: 14px;
}

input, select {
    width: 100%;
    padding: 12px;
    border: 2px solid #1e90ff;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 14px;
    color: #333;
    transition: border-color 0.3s;
}

input:focus, select:focus {
    border-color: #104e8b;
    outline: none;
}

button {
    background-color: #1e90ff;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #104e8b;
}

button:active {
    transform: scale(0.98);
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
