body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 0px;
}

h1 {
    text-align: center;
    color: #979797;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 40px auto;
}

label {
    display: block;
    margin-top: 20px;
    color: #949494;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #8d8d8d;
    border-radius: 4px;
    margin-top: 5px;
    outline: none;
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #8b8b8b;
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover {
    background-color: #919191;
} 
#cadastrarbtn {
    background-color: #2A66B1; 
    color: white;
    border: none; 
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none;
    display: inline-block; /* Configuração para centralizar */
    font-size: 16px; 
    cursor: pointer;  
    border-radius: 9px; 
    transition:  0.3s ease;  
    margin-left: 36%;
    margin-top: 30px;
}

#cadastrarbtn:hover {
    background-color: #5f89bd;
}





