:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  --rpx: 100vw / 1920;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: calc(1920 * var(--rpx));
  height: calc(1080 * var(--rpx));
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: calc(1710 * var(--rpx));
  height: calc(468 * var(--rpx));
  margin: calc(637 * var(--rpx)) 0 0 calc(167 * var(--rpx));
  z-index: 17;
}
.img {
  flex-shrink: 0;
  position: relative;
  width: calc(534 * var(--rpx));
  height: calc(468 * var(--rpx));
  background: url(./assets/images/c5bbbd386b0e26fb384186562e0ccf9b90a81ec7.png)
    no-repeat center;
  background-size: cover;
  z-index: 15;
}
.pic {
  flex-shrink: 0;
  position: relative;
  width: calc(534 * var(--rpx));
  height: calc(468 * var(--rpx));
  background: url(./assets/images/c5bbbd386b0e26fb384186562e0ccf9b90a81ec7.png)
    no-repeat center;
  background-size: cover;
  z-index: 16;
}
.pic-2 {
  flex-shrink: 0;
  position: relative;
  width: calc(534 * var(--rpx));
  height: calc(468 * var(--rpx));
  background: url(./assets/images/c5bbbd386b0e26fb384186562e0ccf9b90a81ec7.png)
    no-repeat center;
  background-size: cover;
  z-index: 17;
}
.group {
  position: absolute;
  width: calc(1920 * var(--rpx));
  height: calc(1266 * var(--rpx));
  top: calc(-186 * var(--rpx));
  left: 0;
  z-index: 26;
}
.pic-3 {
  position: absolute;
  width: calc(500 * var(--rpx));
  height: calc(500 * var(--rpx));
  top: 0;
  left: calc(711 * var(--rpx));
  background: url(./assets/images/52bb387b38e1deb2d612f4bf72125988129b0a02.png)
    no-repeat center;
  background-size: cover;
  z-index: 26;
}
.lactantes {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: calc(70 * var(--rpx));
  top: calc(333 * var(--rpx));
  left: calc(197 * var(--rpx));
  color: rgba(0, 0, 0, 0.4);
  font-family: Inter, var(--default-font-family);
  font-size: calc(45 * var(--rpx));
  font-weight: 800;
  line-height: calc(54.460227966308594 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 10;
}
.rectangle {
  position: absolute;
  width: calc(120 * var(--rpx));
  height: calc(1080 * var(--rpx));
  top: calc(186 * var(--rpx));
  left: 0;
  background: #e7e7e7;
}
.navigate-next {
  position: relative;
  width: calc(117.5999984741211 * var(--rpx));
  height: calc(117.5999984741211 * var(--rpx));
  margin: 0 0 0 0;
  background: url(./assets/images/b1f086ab-ad1e-4ebd-8e0c-30ebdecf49ee.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 27;
}
.navigate-next-1 {
  position: relative;
  width: calc(117.5999984741211 * var(--rpx));
  height: calc(117.5999984741211 * var(--rpx));
  margin: calc(10.400001525878906 * var(--rpx)) 0 0 calc(2 * var(--rpx));
  background: url(./assets/images/1d22a3eb-1037-4124-aad5-f59136995120.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 20;
}
.vector {
  position: relative;
  width: calc(69.125 * var(--rpx));
  height: calc(79 * var(--rpx));
  margin: calc(44.400001525878906 * var(--rpx)) 0 0 calc(25 * var(--rpx));
  background: url(./assets/images/923d8be6-4592-40f4-b73e-0596775e9418.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 22;
}
.vector-2 {
  position: relative;
  width: calc(101 * var(--rpx));
  height: calc(101 * var(--rpx));
  margin: calc(91 * var(--rpx)) 0 0 calc(10 * var(--rpx));
  background: url(./assets/images/b7dacc66-7dab-4847-9c39-39013bddc0ac.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 24;
}
.udder {
  position: relative;
  width: calc(91 * var(--rpx));
  height: calc(96 * var(--rpx));
  margin: calc(97 * var(--rpx)) 0 0 calc(16 * var(--rpx));
  background: url(./assets/images/bc66879b-6ff8-44e3-a530-8e57217e1708.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 13;
}
.pic-7 {
  position: relative;
  width: calc(96 * var(--rpx));
  height: calc(96 * var(--rpx));
  margin: calc(56 * var(--rpx)) 0 0 calc(13 * var(--rpx));
  background: url(./assets/images/b5dd70d11d7a351168745986c89deb1995fd4351.png)
    no-repeat center;
  background-size: contain;
  opacity: 0.4;
  z-index: 25;
}
.pic-8 {
  position: relative;
  width: calc(80 * var(--rpx));
  height: calc(64 * var(--rpx));
  margin: calc(70 * var(--rpx)) 0 0 calc(22 * var(--rpx));
  background: url(./assets/images/d940a8b9-04c6-4975-91cb-c0697e0ca943.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 14;
}
.group-2 {
  position: absolute;
  width: calc(1918 * var(--rpx));
  height: calc(128 * var(--rpx));
  top: calc(186 * var(--rpx));
  left: calc(2 * var(--rpx));
  background: #2a65b1;
  z-index: 19;
}
.text-2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: calc(70 * var(--rpx));
  top: calc(333 * var(--rpx));
  left: calc(331 * var(--rpx));
  color: rgba(0, 0, 0, 0.4);
  font-family: Inter, var(--default-font-family);
  font-size: calc(45 * var(--rpx));
  font-weight: 800;
  line-height: calc(54.460227966308594 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 6;
}
.text-3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: calc(70 * var(--rpx));
  top: calc(333 * var(--rpx));
  left: calc(1412 * var(--rpx));
  color: rgba(0, 0, 0, 0.4);
  font-family: Inter, var(--default-font-family);
  font-size: calc(45 * var(--rpx));
  font-weight: 800;
  line-height: calc(54.460227966308594 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 11;
}
.box-2 {
  position: absolute;
  width: calc(536 * var(--rpx));
  height: calc(253 * var(--rpx));
  top: calc(389 * var(--rpx));
  left: calc(169 * var(--rpx));
  background: #2a65b1;
  z-index: 1;
  border-radius: calc(50 * var(--rpx));
}
.img-4 {
  position: absolute;
  width: calc(153 * var(--rpx));
  height: calc(153 * var(--rpx));
  top: calc(47 * var(--rpx));
  left: calc(307 * var(--rpx));
  background: url(./assets/images/c6ab128f-9ca5-461e-9813-94317a3448f4.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 31;
}
.text-4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: calc(81 * var(--rpx));
  top: calc(92 * var(--rpx));
  left: calc(77 * var(--rpx));
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: calc(65 * var(--rpx));
  font-weight: 700;
  line-height: calc(78.6647720336914 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 4;
}
.wrapper-2 {
  position: absolute;
  width: calc(536 * var(--rpx));
  height: calc(253 * var(--rpx));
  top: calc(389 * var(--rpx));
  left: calc(754 * var(--rpx));
  background: #2a66b1;
  z-index: 3;
  border-radius: calc(50 * var(--rpx));
}
.pic-9 {
  position: absolute;
  width: 30.04%;
  height: 63.64%;
  top: 24.51%;
  left: 52.99%;
  background: url(./assets/images/8d4276e3-04fc-49df-ab25-31668c1ce5a0.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 12;
}
.text-5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: calc(81 * var(--rpx));
  top: calc(98 * var(--rpx));
  left: calc(105 * var(--rpx));
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: calc(65 * var(--rpx));
  font-weight: 700;
  line-height: calc(78.6647720336914 * var(--rpx));
  text-align: left;
  white-space: nowrap;
  z-index: 5;
}
.wrapper-3 {
  position: absolute;
  width: calc(536 * var(--rpx));
  height: calc(253 * var(--rpx));
  top: calc(389 * var(--rpx));
  left: calc(1339 * var(--rpx));
  background: #2a66b1;
  z-index: 2;
  border-radius: calc(50 * var(--rpx));
}
.pic-a {
  position: relative;
  width: calc(127 * var(--rpx));
  height: calc(127 * var(--rpx));
  margin: calc(60 * var(--rpx)) 0 0 calc(203 * var(--rpx));
  background: url(./assets/images/58f3d831-023d-4267-a532-96697409fd11.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 29;
}
.img-5 {
  position: absolute;
  width: calc(1510.0052490234375 * var(--rpx));
  height: calc(3 * var(--rpx));
  top: calc(707 * var(--rpx));
  left: calc(267 * var(--rpx));
  background: url(./assets/images/ae457c76-cc01-462b-bfbe-c4ce4bb7cf0b.png)
    no-repeat center;
  background-size: cover;
  z-index: 18;
}
.text-6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: calc(285 * var(--rpx));
  height: calc(70 * var(--rpx));
  top: calc(785 * var(--rpx));
  left: calc(1463 * var(--rpx));
  color: rgba(0, 0, 0, 0.4);
  font-family: Inter, var(--default-font-family);
  font-size: calc(35 * var(--rpx));
  font-weight: 800;
  line-height: calc(42.35795211791992 * var(--rpx));
  text-align: left;
  z-index: 8;
}
.text-7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: calc(350 * var(--rpx));
  height: calc(70 * var(--rpx));
  top: calc(786 * var(--rpx));
  left: calc(854 * var(--rpx));
  color: rgba(0, 0, 0, 0.4);
  font-family: Inter, var(--default-font-family);
  font-size: calc(35 * var(--rpx));
  font-weight: 800;
  line-height: calc(42.35795211791992 * var(--rpx));
  text-align: left;
  z-index: 9;
}
.text-8 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: calc(278 * var(--rpx));
  height: calc(70 * var(--rpx));
  top: calc(788 * var(--rpx));
  left: calc(300 * var(--rpx));
  color: rgba(0, 0, 0, 0.4);
  font-family: Inter, var(--default-font-family);
  font-size: calc(35 * var(--rpx));
  font-weight: 800;
  line-height: calc(42.35795211791992 * var(--rpx));
  text-align: left;
  z-index: 7;
}
